

.aside {
  font-family: "TTLakes",sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  background-color: #ffffff;
  color: #000;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  overflow-x: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &--open {
    transform: translateX(0);
  }
}

.aside-header__menu-btn,
.header__menu-btn {
  border: none;
  background: #ff4076;
  cursor: pointer;
}


  /* ============================
     ASIDE HEADER
     ============================ */
  .aside-header {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 10px;
    background: #ffffff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 95%;
    }

    &__left,
    &__right {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    /* Buttons */
    &__menu-btn,
    &__search {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #ff4076;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease;
   
      &:hover {
        background: #e00c4c;
      }
    }

    /* Logo */
    &__logo img {
      height: 24px;
    }
  }

  /* ============================
     MAIN MENU
     ============================ */
  .aside-main {
    padding: 0;
  

    &__wrapper {
      padding: 0 10px;
    }

    &__menu-list {
      list-style: none;
      padding: 0;
      margin: 0 0 100px;
    }

    &__menu-item {
      padding: 10px 0 10px 10px;
      font-size: 15px;
      color: #333;
      cursor: pointer;
      transition: 0.3s;
      display: flex;
      align-items: center;
      gap: 8px;

      &:hover {
        color: #000;
        font-weight: bold;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
      }

      &--active {
      font-family: "TTLakes",sans-serif;
      font-size: 15px;
      color: gray;
      }
    }

    &__left-border {
    height:30px;
    border-left: 3.5px solid #48fef5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-right: 0px;
    }
  }

  /* ============================
     FOOTER
     ============================ */
  .aside-footer {
    display: flex;
    flex-direction: column;
    bottom: 20px;
    padding: 20px;

    &__top {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &__icons {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &__info {
      a {
        color: black;
        text-decoration: none;

        &:hover {
          color: #59595a;
        }
      }
    }

    &__bottom {
      margin-top: 15px;
    }
  }

  /* ============================
     LANGUAGE SELECTOR
     ============================ */
  .aside-lang {
    display: flex;
    gap: 10px;

    &__item {
      cursor: pointer;

      &:hover {
        color: lightslategray;
      }
    }
  }

@media (min-width:320px){
  .aside {
   width: 400px;
   height: auto;
  }
  .aside--open {
    transform: translateX(0);
  }
}

@media (min-width:769px){
 

  .aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
  }

  .aside--open {
    transform: translateX(0);
  }

  .main-page {
   min-height: 100vh;
  }
}



@media (min-width: 1120px) {
  .aside {
     position: static;
    height: auto;
    transform: none;
  }
}
