
body {
 font-family: 'TTLakes', sans-serif;
 box-sizing: border-box;
}

.brand__container {
 outline: 5px solid lime;

 margin: 0 auto;
 background: rgb(246, 244, 244);
 padding-bottom: 20px;
 box-shadow: 0 10px 40px rgba(0,0,0,0.1);
}

.content__section-header{
  font-family: "TTLakes", sans-serif;
  display: flex;
  background: linear-gradient(to right,rgb(246, 244, 244) 40%,white 60%);
  color: #868484;
  padding-top: 30px;
  padding-left: 10px;;
  min-height: 70px;
  border-top: #85fffb 1px solid;
  margin-bottom: 10px;

}

.swiper__container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
}











