* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 font-family: 'TTLakes', sans-serif;
 font-size: 16px;
 padding: 40px 20px;
}


.brand-swiper {
 
 position: relative;
 width: 100%;
 background-color:lightgrey;
 box-sizing: border-box;
 background: #F8F8F8; 

  &__header {
     font-family:'TTLakes', sans-serif;
     font-size: 20px;
     display: flex;
     background: linear-gradient(to right,#F8F8F8 40%,white 60%);
     color: #868484;
     padding-top: 30px;
     padding-left: 10px;;
     min-height: 70px;
     border-top: #85fffb 1px solid;
     margin-bottom: 10px; 
    }

  &__wrapper {
     box-sizing: initial;
     display: flex;
     height: 100%;
     position: relative;
     transition-property: transform;
     transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
     width: 95%;
     z-index: 1;
     padding:30px;
     gap:10px;
    }

  &__slide {
     max-width:240px;
     height: 72px;
     text-align: center;
     font-size: 15px;
     background: white;
     display: flex;
     justify-content: center;
     align-items: center; 
     border: 2px solid lightgrey;
     border-radius: 5px;
    }
}

.swiper-pagination {
 position: absolute;
 text-align: center;
 transform: translateZ(0);
 transition: opacity .3s;
 z-index: 10;
 margin-top: 20px;
}

.brand-swiper .arrow-btn {
 display: flex;
 background: none;
 border: none;
 cursor: pointer;
 position: absolute;
 top: 50%;
 right: 10px;
 transform: translateY(-50%);
}

.brand-name {
 font-family: 'TTLakes', sans-serif;
 width:235px;
 height: 70px;
 text-align: center;
 font-size: 15px;
 background: white;
 display: flex;
 align-items: center;
 padding: 10px;
}

.swiper-button-next,
.swiper-button-prev {
 display: none;
}

.container-toggle {
  display: flex;
  align-items: center;
  gap: 0px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 10px;
}



.repair-swiper {
  position: relative;
  width: 100%;
  background-color:lightgrey;
  box-sizing: border-box;
  background:#F8F8F8;
  
    &__header {
     font-family:'TTLakes', sans-serif;
     font-size: 20px;
     display: flex;
     background: linear-gradient(to right,#F8F8F8 40%,white 60%);
     color: #868484;
     padding-top: 30px;
     padding-left: 10px;;
     min-height: 70px;
     border-top: #85fffb 1px solid;
     margin-bottom: 10px; 
    }
    &__wrapper {
     box-sizing: initial;
     display: flex;
     height: 100%;
     position: relative;
     transition-property: transform;
     transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
     width: 95%;
     z-index: 1;
     padding:30px;
     gap:10px;
    }
   &__slide  {
     max-width:235px;
     height: 160px;
     text-align: flex-start;
     font-size: 15px;
     background: white;
     display: flex;
     justify-content: left;
     align-items: center; 
     border: 2px solid lightgrey;
     border-radius: 5px;
    }
}

.repair-name {
 font-family: 'TTLakes', sans-serif;
 width:240px;
 height: 70px;
 text-align: center;
 font-size: 20px;
 background: white;
 display: flex;
 align-items: center;
 padding: 10px;
 margin-bottom: 80px;
}

.repair-swiper .arrow-btn {
 display: flex;
 background: none;
 border: none;
 cursor: pointer;
 position: absolute;
 top: 80%;
 right: 10px;
 transform: translateY(-50%);
}

.repair-toggle,
.brand-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.service-price {
    font-family: 'TTLakes', sans-serif;
    font-size: 16px;

  &__container {
    display: flex;
    flex-direction: column;
   
  }

  &__header {
    font-family:'TTLakes', sans-serif;
     font-size: 20px;
     display: flex;
     background: linear-gradient(to right,#F8F8F8 40%,white 60%);
     color: #868484;
     padding-top: 30px;
     padding-left: 10px;;
     min-height: 70px;
     border-top: #85fffb 1px solid; 
    }

    &__list {
    list-style: none;
    background-color: #F8F8F8;
    }

    &__text{
    font-family: 'TTLakes', sans-serif;
    font-size: 15px;
    color: #333;
    margin: 10px;
    }

}

.service-swiper{
  position: relative;
  width: 100%;
  height: 288px;
  background-color:lightgrey;
  box-sizing: border-box;
  background: #F8F8F8;
  
  &__wrapper{
     box-sizing: initial;
     display: flex;
     height: 100%;
     position: relative;
     transition-property: transform;
     transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
     width: 95%;
     z-index: 1;
     padding:20px;
  }

  &__slide  {
     max-width:1000px;
     height: 200px;
     text-align: flex-start;
     font-size: 15px;
     background: white;
     display: flex;
     justify-content: space-between;
     align-items: flex-start; 
     border: 2px solid lightgrey;
     border-radius: 5px;
     flex-direction: column;
     padding-left: 10px;
     flex-wrap: wrap;
    }
}

.service-container{
    font-family: 'TTLakes', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;

    &__header {
    font-family:'TTLakes', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #9b9a9a;
    }

    &__description {
    font-family:'TTLakes', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #333;
    }

    &__text{
    display:flex;
    flex-direction: row;
    font-family: 'TTLakes', sans-serif;
    margin-left: 10px;
     background: rgb(246, 244, 244);
    } 
}

.expanded{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

 position: relative;
 width: 95%;
 height: 100%;
 margin-bottom: 10px;
}  


.service-list__header{
    font-family:'TTLakes', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #9b9a9a;
    background:#F8F8F8;
}

.Price-container{
    font-family: 'TTLakes', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 10px;


    &__header {
    font-family:'TTLakes', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #9b9a9a;
    }
}

.time-container{
    font-family: 'TTLakes', sans-serif;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;

    &__header {
    font-family:'TTLakes', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: #9b9a9a;
    }
}

.order-container {
 background: none;
 border: none;
}

.order-btn {
  font-family: 'TTLakes', sans-serif;
  font-size: 10px;
  color: white;
  background-color: #FF3E79;
  border: none;
  border-radius: 20px;
  padding: 0;
  cursor: pointer;
  margin-top: 150px;
  


  &:hover {
    background-color: #c60942;
  }
}

.more-container {
 background: none;
 border:none;
 font-family: 'TTLakes', sans-serif;
 cursor: pointer;
 display: flex;
 margin-left: 10px;
}

.more-btn {
 font-family: 'TTLakes', sans-serif;
 font-weight: bold;
 font-size: 18px;
 color:black;
 border: none;
 background: none;
 cursor: pointer;
 margin-top: 20px;

 &:hover {
   text-decoration: underline;
 }
}

.more-container img{
    width: 20px;
    height: 20px;
    position:absolute;
    align-items: center;
}



@media (min-width:320px) and (max-width:759px){
    .container-toggle {
     display: none;
    }
    .content__image {
     object-fit: cover;
     margin-top: 0px;
     height: 200px;
    }

   .service-list__header{
     display:none
    }
    
    .service-swiper__slide {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 12px;
  }

  .time-container,
  .order-container {
    display: inline-flex;
    align-items: flex-start;
  }

  .service-swiper__slide .time-container {
    grid-column: 1;
  }

  .service-swiper__slide .order-container {
    margin-left: auto;
  }

  .service-swiper__slide {
    position: relative;
  }

  .time-container {
    padding-right: 120px; 
  }

  .order-container {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }

}

@media (min-width: 760px){

    .brand-swiper__wrapper {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     max-height: 150px;
     overflow: hidden;
     transition: max-height 0.4s ease;
    }


    .repair-swiper__wrapper {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     max-height:150px;
     overflow: hidden;
     transition: max-height 0.4s ease;
   }

  

  .brand-swiper__wrapper.expanded,
  .repair-swiper__wrapper.expanded {
    max-height: 350px;        // expanded height (2 rows or more)
  }

  .content__arrow--img {
    transition: transform 0.3s ease;
  }

  .content__arrow--img.rotated {
    transform: rotate(180deg);
  }

   
    .repair-toggle,
    .brand-toggle {
     display: flex;
     margin: 10px auto;
     margin-left: 50px;

    }

    .swiper-pagination{
     display: none;
    }

    .service-swiper{
     flex-direction: row;
     overflow: hidden;
    }

}

@media (min-width: 1024px){
    .content__image {
     object-fit: cover;
     margin-top: 0px;
     height: 270px;
    } 

    .service-swiper__slide{
     width:1000px;   
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 60px;
    }

   .service-list__header{
     display: grid;
     grid-template-columns: 3fr 1fr 1fr 120px; 
     align-items: center;
     padding: 16px 24px;
     align-content: center;
     justify-content: center;
     
   }

   .service-swiper__slide {
     display: grid;
     grid-template-columns: 3fr 1fr 1fr 120px; 
     align-items: center;
     padding: 16px 24px;
     align-content: center;
     margin-top: -1px;
     border: 1px solid #ddd;
   }

   

    .service-swiper__wrapper{
     flex-direction: column;
     align-items: center;
    }

    .brand-swiper__wrapper.expanded{
        width: 95%;
        height:100%;
    }


    .repair-swiper__wrapper.expanded{
        width: 95%;
        height:100%;
    }

    .service-container__header, 
    .time-container__header, 
    .Price-container__header{
     display: none;
    }

    .service-swiper{
     height:auto;
    }

    .order-btn{
     margin-top: 10px;
    }
}







