/*colors*/
$bgColor: #c5c5c6;
$text: #333;
$primary: #48fef5;
$secondary: #ff4081;

/*fonts*/
$font-family-base: 'TTLakes', sans-serif;

/*swiper customization */
.swiper {
  width: 100%;
  height: 100%;

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
}