$bgColor: #24292e;
$text: #fff;

@font-face {
  font-family: "TTLakes";
  src: url('../assets/fonts/TTLakes-Regular.ttf') format('truetype'),
       url('../assets/fonts/TTLakes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
    font-family: "TTLakes";
  src: url('../assets/fonts/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal
}


@font-face {
  font-family: "TTLakes";
  src: url('../assets/fonts/TTLakes-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: TTLakes, sans-serif;
  background-color: $bgColor;
  color: $text;
}

@import 'aside';


