
$bgColor: #c5c5c6; 
$text: #0c0c0c; 

@font-face { font-family: "TTLakes";
   src: url('../assets/fonts/TTLakes-Regular.ttf') format('truetype'), 
  url('../assets/fonts/TTLakes-Regular.ttf') format('truetype'); 
  font-weight: 400; font-style: normal; } 

 @font-face { font-family: "TTLakes"; 
  src: url('../assets/fonts/TTLakes-Medium.ttf') format('truetype'),; 
    font-weight: 500; font-style: normal } 

 @font-face { font-family: "TTLakes"; 
  src: url('../assets/fonts/TTLakes-Bold.ttf') format('truetype'),;
   font-weight: 700; font-style: normal; } 
   
.body { 
  padding: 0; 
  margin: 0; 
  font-family: TTLakes, sans-serif;
  color: $text; 
}


.layout {
  display: flex;
  min-height: 100%;
  margin:0;
}

/* ASIDE */
.aside {
  width: 320px;
  flex-shrink: 0;
  background: #fff;
  border-right: 1px solid #eaeaea;
}

/* MAIN */
.main-page {
  flex: 1;
  min-width: 0;
}

@import 'aside';
@import 'main-page';


