@import 'variables';

* {
  font-family: 'TTLakes', sans-serif;
  box-sizing: border-box;
}

@font-face { font-family: "TTLakes";
   src: url('../assets/fonts/TTLakes-Regular.ttf') format('truetype'), 
  url('../assets/fonts/TTLakes-Regular.ttf') format('truetype'); 
  font-weight: 400; font-style: normal; } 

 @font-face { font-family: "TTLakes"; 
  src: url('../assets/fonts/TTLakes-Medium.ttf') format('truetype'),; 
    font-weight: 500; font-style: normal } 

 @font-face { font-family: "TTLakes"; 
  src: url('../assets/fonts/TTLakes-Bold.ttf') format('truetype'),;
   font-weight: 700; font-style: normal; } 
   
body { 
  padding: 0; 
  margin: 0; 
  font-family: "TTLakes", sans-serif;
  color: black; 
}


.app__container {
  display: flex; 
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.app__container> * {
  min-width: 0;
}

@media (min-width: 768px) {
  .app__container {
    flex-direction: row;
  }
}

.layout {
  display: flex;
  min-height: 100%;
  margin:0;
  max-height: 1440px;
}

/* ASIDE */
.aside {
  width: 250px;
  flex-shrink: 0;
  background: #fff;
  border-right: 1px solid #eaeaea;
}

/* MAIN */
.main-page {
  flex: 1;
  min-width: 0;
}

@import 'aside';
@import 'main-page';
@import 'brand-swiper';
@import 'variables';


